
{% extends 'login/base.html' %}
{#{% load staticfiles %}#}
{#{% block css %}<link href="{% static 'css/base.css' %}" rel="stylesheet"/>{% endblock %}#}

{% block title %}主页{% endblock %}

{% block content %}

    <body class="gray-bg">
        {% if request.session.is_login %}
            <h1>你好,{{ request.session.user_name }}！欢迎回来！</h1>
        {% else %}

            <div class="alert alert-info" role="alert">{{ articles }}</div>

            {% for article in articles %}
                <div class="col-lg-6">
                    <div class="item">
                        <a href="/blog/articleDetails/article_{{ article.id }}" class="article-link">
                            {{ article.title }}
                            <div class="article-pro">
                                <p>发表于:{{ article.create_time }}</p>
                                <p>分类：{{ article.category.categoryName }}</p>
                                <p>评论：{{ article.commentNum }}</p>
                            </div>
                            <div class="article-des" style="word-wrap:break-word ">
                            {{ article.des }}
                            </div>
                        </a>

                         <a class="read-btn" href="/blog/articleDetails/article_{{ article.id }}">
                                阅读更多
                         </a>
                    </div>

                </div>
            {% endfor %}

        {% endif %}
    </body>

{% endblock %}

